<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="parser-local" value="..\..\artifacts\html-parser-package-consumer\feed" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <clear />
    <packageSource key="parser-local">
      <package pattern="Jint.HtmlParser" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="System.IO.Hashing" />
    </packageSource>
  </packageSourceMapping>
</configuration>
