@charset "utf-8";
@media (min-width: 40rem) {
.card:nth-child(1) > .label, #item-0:hover { color: rgb(0, 0, 0); margin: 0px 0px; --index: 0; }
.card:nth-child(2) > .label, #item-1:hover { color: rgb(1, 2, 3); margin: 1px 1px; --index: 1; }
.card:nth-child(3) > .label, #item-2:hover { color: rgb(2, 4, 6); margin: 2px 2px; --index: 2; }
.card:nth-child(4) > .label, #item-3:hover { color: rgb(3, 6, 9); margin: 3px 3px; --index: 3; }
.card:nth-child(5) > .label, #item-4:hover { color: rgb(4, 8, 12); margin: 4px 4px; --index: 4; }
.card:nth-child(6) > .label, #item-5:hover { color: rgb(5, 10, 15); margin: 5px 5px; --index: 5; }
.card:nth-child(7) > .label, #item-6:hover { color: rgb(6, 12, 18); margin: 6px 6px; --index: 6; }
.card:nth-child(8) > .label, #item-7:hover { color: rgb(7, 14, 21); margin: 7px 0px; --index: 7; }
.card:nth-child(9) > .label, #item-8:hover { color: rgb(8, 16, 24); margin: 8px 1px; --index: 8; }
.card:nth-child(10) > .label, #item-9:hover { color: rgb(9, 18, 27); margin: 9px 2px; --index: 9; }
.card:nth-child(11) > .label, #item-10:hover { color: rgb(10, 20, 30); margin: 10px 3px; --index: 10; }
.card:nth-child(12) > .label, #item-11:hover { color: rgb(11, 22, 33); margin: 0px 4px; --index: 11; }
.card:nth-child(13) > .label, #item-12:hover { color: rgb(12, 24, 36); margin: 1px 5px; --index: 12; }
.card:nth-child(14) > .label, #item-13:hover { color: rgb(13, 26, 39); margin: 2px 6px; --index: 13; }
.card:nth-child(15) > .label, #item-14:hover { color: rgb(14, 28, 42); margin: 3px 0px; --index: 14; }
.card:nth-child(16) > .label, #item-15:hover { color: rgb(15, 30, 45); margin: 4px 1px; --index: 15; }
.card:nth-child(17) > .label, #item-16:hover { color: rgb(16, 32, 48); margin: 5px 2px; --index: 16; }
.card:nth-child(18) > .label, #item-17:hover { color: rgb(17, 34, 51); margin: 6px 3px; --index: 17; }
.card:nth-child(19) > .label, #item-18:hover { color: rgb(18, 36, 54); margin: 7px 4px; --index: 18; }
.card:nth-child(20) > .label, #item-19:hover { color: rgb(19, 38, 57); margin: 8px 5px; --index: 19; }
.card:nth-child(21) > .label, #item-20:hover { color: rgb(20, 40, 60); margin: 9px 6px; --index: 20; }
.card:nth-child(22) > .label, #item-21:hover { color: rgb(21, 42, 63); margin: 10px 0px; --index: 21; }
.card:nth-child(23) > .label, #item-22:hover { color: rgb(22, 44, 66); margin: 0px 1px; --index: 22; }
.card:nth-child(24) > .label, #item-23:hover { color: rgb(23, 46, 69); margin: 1px 2px; --index: 23; }
.card:nth-child(25) > .label, #item-24:hover { color: rgb(24, 48, 72); margin: 2px 3px; --index: 24; }
.card:nth-child(26) > .label, #item-25:hover { color: rgb(25, 50, 75); margin: 3px 4px; --index: 25; }
.card:nth-child(27) > .label, #item-26:hover { color: rgb(26, 52, 78); margin: 4px 5px; --index: 26; }
.card:nth-child(28) > .label, #item-27:hover { color: rgb(27, 54, 81); margin: 5px 6px; --index: 27; }
.card:nth-child(29) > .label, #item-28:hover { color: rgb(28, 56, 84); margin: 6px 0px; --index: 28; }
.card:nth-child(30) > .label, #item-29:hover { color: rgb(29, 58, 87); margin: 7px 1px; --index: 29; }
.card:nth-child(31) > .label, #item-30:hover { color: rgb(30, 60, 90); margin: 8px 2px; --index: 30; }
.card:nth-child(32) > .label, #item-31:hover { color: rgb(31, 62, 93); margin: 9px 3px; --index: 31; }
.card:nth-child(33) > .label, #item-32:hover { color: rgb(32, 64, 96); margin: 10px 4px; --index: 32; }
.card:nth-child(34) > .label, #item-33:hover { color: rgb(33, 66, 99); margin: 0px 5px; --index: 33; }
.card:nth-child(35) > .label, #item-34:hover { color: rgb(34, 68, 102); margin: 1px 6px; --index: 34; }
.card:nth-child(36) > .label, #item-35:hover { color: rgb(35, 70, 105); margin: 2px 0px; --index: 35; }
.card:nth-child(37) > .label, #item-36:hover { color: rgb(36, 72, 108); margin: 3px 1px; --index: 36; }
.card:nth-child(38) > .label, #item-37:hover { color: rgb(37, 74, 111); margin: 4px 2px; --index: 37; }
.card:nth-child(39) > .label, #item-38:hover { color: rgb(38, 76, 114); margin: 5px 3px; --index: 38; }
.card:nth-child(40) > .label, #item-39:hover { color: rgb(39, 78, 117); margin: 6px 4px; --index: 39; }
.card:nth-child(41) > .label, #item-40:hover { color: rgb(40, 80, 120); margin: 7px 5px; --index: 40; }
.card:nth-child(42) > .label, #item-41:hover { color: rgb(41, 82, 123); margin: 8px 6px; --index: 41; }
.card:nth-child(43) > .label, #item-42:hover { color: rgb(42, 84, 126); margin: 9px 0px; --index: 42; }
.card:nth-child(44) > .label, #item-43:hover { color: rgb(43, 86, 129); margin: 10px 1px; --index: 43; }
.card:nth-child(45) > .label, #item-44:hover { color: rgb(44, 88, 132); margin: 0px 2px; --index: 44; }
.card:nth-child(46) > .label, #item-45:hover { color: rgb(45, 90, 135); margin: 1px 3px; --index: 45; }
.card:nth-child(47) > .label, #item-46:hover { color: rgb(46, 92, 138); margin: 2px 4px; --index: 46; }
.card:nth-child(48) > .label, #item-47:hover { color: rgb(47, 94, 141); margin: 3px 5px; --index: 47; }
.card:nth-child(49) > .label, #item-48:hover { color: rgb(48, 96, 144); margin: 4px 6px; --index: 48; }
.card:nth-child(50) > .label, #item-49:hover { color: rgb(49, 98, 147); margin: 5px 0px; --index: 49; }
.card:nth-child(51) > .label, #item-50:hover { color: rgb(50, 100, 150); margin: 6px 1px; --index: 50; }
.card:nth-child(52) > .label, #item-51:hover { color: rgb(51, 102, 153); margin: 7px 2px; --index: 51; }
.card:nth-child(53) > .label, #item-52:hover { color: rgb(52, 104, 156); margin: 8px 3px; --index: 52; }
.card:nth-child(54) > .label, #item-53:hover { color: rgb(53, 106, 159); margin: 9px 4px; --index: 53; }
.card:nth-child(55) > .label, #item-54:hover { color: rgb(54, 108, 162); margin: 10px 5px; --index: 54; }
.card:nth-child(56) > .label, #item-55:hover { color: rgb(55, 110, 165); margin: 0px 6px; --index: 55; }
.card:nth-child(57) > .label, #item-56:hover { color: rgb(56, 112, 168); margin: 1px 0px; --index: 56; }
.card:nth-child(58) > .label, #item-57:hover { color: rgb(57, 114, 171); margin: 2px 1px; --index: 57; }
.card:nth-child(59) > .label, #item-58:hover { color: rgb(58, 116, 174); margin: 3px 2px; --index: 58; }
.card:nth-child(60) > .label, #item-59:hover { color: rgb(59, 118, 177); margin: 4px 3px; --index: 59; }
.card:nth-child(61) > .label, #item-60:hover { color: rgb(60, 120, 180); margin: 5px 4px; --index: 60; }
.card:nth-child(62) > .label, #item-61:hover { color: rgb(61, 122, 183); margin: 6px 5px; --index: 61; }
.card:nth-child(63) > .label, #item-62:hover { color: rgb(62, 124, 186); margin: 7px 6px; --index: 62; }
.card:nth-child(64) > .label, #item-63:hover { color: rgb(63, 126, 189); margin: 8px 0px; --index: 63; }
.card:nth-child(65) > .label, #item-64:hover { color: rgb(64, 128, 192); margin: 9px 1px; --index: 64; }
.card:nth-child(66) > .label, #item-65:hover { color: rgb(65, 130, 195); margin: 10px 2px; --index: 65; }
.card:nth-child(67) > .label, #item-66:hover { color: rgb(66, 132, 198); margin: 0px 3px; --index: 66; }
.card:nth-child(68) > .label, #item-67:hover { color: rgb(67, 134, 201); margin: 1px 4px; --index: 67; }
.card:nth-child(69) > .label, #item-68:hover { color: rgb(68, 136, 204); margin: 2px 5px; --index: 68; }
.card:nth-child(70) > .label, #item-69:hover { color: rgb(69, 138, 207); margin: 3px 6px; --index: 69; }
.card:nth-child(71) > .label, #item-70:hover { color: rgb(70, 140, 210); margin: 4px 0px; --index: 70; }
.card:nth-child(72) > .label, #item-71:hover { color: rgb(71, 142, 213); margin: 5px 1px; --index: 71; }
.card:nth-child(73) > .label, #item-72:hover { color: rgb(72, 144, 216); margin: 6px 2px; --index: 72; }
.card:nth-child(74) > .label, #item-73:hover { color: rgb(73, 146, 219); margin: 7px 3px; --index: 73; }
.card:nth-child(75) > .label, #item-74:hover { color: rgb(74, 148, 222); margin: 8px 4px; --index: 74; }
.card:nth-child(76) > .label, #item-75:hover { color: rgb(75, 150, 225); margin: 9px 5px; --index: 75; }
.card:nth-child(77) > .label, #item-76:hover { color: rgb(76, 152, 228); margin: 10px 6px; --index: 76; }
.card:nth-child(78) > .label, #item-77:hover { color: rgb(77, 154, 231); margin: 0px 0px; --index: 77; }
.card:nth-child(79) > .label, #item-78:hover { color: rgb(78, 156, 234); margin: 1px 1px; --index: 78; }
.card:nth-child(80) > .label, #item-79:hover { color: rgb(79, 158, 237); margin: 2px 2px; --index: 79; }
.card:nth-child(81) > .label, #item-80:hover { color: rgb(80, 160, 240); margin: 3px 3px; --index: 80; }
.card:nth-child(82) > .label, #item-81:hover { color: rgb(81, 162, 243); margin: 4px 4px; --index: 81; }
.card:nth-child(83) > .label, #item-82:hover { color: rgb(82, 164, 246); margin: 5px 5px; --index: 82; }
.card:nth-child(84) > .label, #item-83:hover { color: rgb(83, 166, 249); margin: 6px 6px; --index: 83; }
.card:nth-child(85) > .label, #item-84:hover { color: rgb(84, 168, 252); margin: 7px 0px; --index: 84; }
.card:nth-child(86) > .label, #item-85:hover { color: rgb(85, 170, 255); margin: 8px 1px; --index: 85; }
.card:nth-child(87) > .label, #item-86:hover { color: rgb(86, 172, 2); margin: 9px 2px; --index: 86; }
.card:nth-child(88) > .label, #item-87:hover { color: rgb(87, 174, 5); margin: 10px 3px; --index: 87; }
.card:nth-child(89) > .label, #item-88:hover { color: rgb(88, 176, 8); margin: 0px 4px; --index: 88; }
.card:nth-child(90) > .label, #item-89:hover { color: rgb(89, 178, 11); margin: 1px 5px; --index: 89; }
.card:nth-child(91) > .label, #item-90:hover { color: rgb(90, 180, 14); margin: 2px 6px; --index: 90; }
.card:nth-child(92) > .label, #item-91:hover { color: rgb(91, 182, 17); margin: 3px 0px; --index: 91; }
.card:nth-child(93) > .label, #item-92:hover { color: rgb(92, 184, 20); margin: 4px 1px; --index: 92; }
.card:nth-child(94) > .label, #item-93:hover { color: rgb(93, 186, 23); margin: 5px 2px; --index: 93; }
.card:nth-child(95) > .label, #item-94:hover { color: rgb(94, 188, 26); margin: 6px 3px; --index: 94; }
.card:nth-child(96) > .label, #item-95:hover { color: rgb(95, 190, 29); margin: 7px 4px; --index: 95; }
.card:nth-child(97) > .label, #item-96:hover { color: rgb(96, 192, 32); margin: 8px 5px; --index: 96; }
.card:nth-child(98) > .label, #item-97:hover { color: rgb(97, 194, 35); margin: 9px 6px; --index: 97; }
.card:nth-child(99) > .label, #item-98:hover { color: rgb(98, 196, 38); margin: 10px 0px; --index: 98; }
.card:nth-child(100) > .label, #item-99:hover { color: rgb(99, 198, 41); margin: 0px 1px; --index: 99; }
.card:nth-child(101) > .label, #item-100:hover { color: rgb(100, 200, 44); margin: 1px 2px; --index: 100; }
.card:nth-child(102) > .label, #item-101:hover { color: rgb(101, 202, 47); margin: 2px 3px; --index: 101; }
.card:nth-child(103) > .label, #item-102:hover { color: rgb(102, 204, 50); margin: 3px 4px; --index: 102; }
.card:nth-child(104) > .label, #item-103:hover { color: rgb(103, 206, 53); margin: 4px 5px; --index: 103; }
.card:nth-child(105) > .label, #item-104:hover { color: rgb(104, 208, 56); margin: 5px 6px; --index: 104; }
.card:nth-child(106) > .label, #item-105:hover { color: rgb(105, 210, 59); margin: 6px 0px; --index: 105; }
.card:nth-child(107) > .label, #item-106:hover { color: rgb(106, 212, 62); margin: 7px 1px; --index: 106; }
.card:nth-child(108) > .label, #item-107:hover { color: rgb(107, 214, 65); margin: 8px 2px; --index: 107; }
.card:nth-child(109) > .label, #item-108:hover { color: rgb(108, 216, 68); margin: 9px 3px; --index: 108; }
.card:nth-child(110) > .label, #item-109:hover { color: rgb(109, 218, 71); margin: 10px 4px; --index: 109; }
.card:nth-child(111) > .label, #item-110:hover { color: rgb(110, 220, 74); margin: 0px 5px; --index: 110; }
.card:nth-child(112) > .label, #item-111:hover { color: rgb(111, 222, 77); margin: 1px 6px; --index: 111; }
.card:nth-child(113) > .label, #item-112:hover { color: rgb(112, 224, 80); margin: 2px 0px; --index: 112; }
.card:nth-child(114) > .label, #item-113:hover { color: rgb(113, 226, 83); margin: 3px 1px; --index: 113; }
.card:nth-child(115) > .label, #item-114:hover { color: rgb(114, 228, 86); margin: 4px 2px; --index: 114; }
.card:nth-child(116) > .label, #item-115:hover { color: rgb(115, 230, 89); margin: 5px 3px; --index: 115; }
.card:nth-child(117) > .label, #item-116:hover { color: rgb(116, 232, 92); margin: 6px 4px; --index: 116; }
.card:nth-child(118) > .label, #item-117:hover { color: rgb(117, 234, 95); margin: 7px 5px; --index: 117; }
.card:nth-child(119) > .label, #item-118:hover { color: rgb(118, 236, 98); margin: 8px 6px; --index: 118; }
.card:nth-child(120) > .label, #item-119:hover { color: rgb(119, 238, 101); margin: 9px 0px; --index: 119; }
.card:nth-child(121) > .label, #item-120:hover { color: rgb(120, 240, 104); margin: 10px 1px; --index: 120; }
.card:nth-child(122) > .label, #item-121:hover { color: rgb(121, 242, 107); margin: 0px 2px; --index: 121; }
.card:nth-child(123) > .label, #item-122:hover { color: rgb(122, 244, 110); margin: 1px 3px; --index: 122; }
.card:nth-child(124) > .label, #item-123:hover { color: rgb(123, 246, 113); margin: 2px 4px; --index: 123; }
.card:nth-child(125) > .label, #item-124:hover { color: rgb(124, 248, 116); margin: 3px 5px; --index: 124; }
.card:nth-child(126) > .label, #item-125:hover { color: rgb(125, 250, 119); margin: 4px 6px; --index: 125; }
.card:nth-child(127) > .label, #item-126:hover { color: rgb(126, 252, 122); margin: 5px 0px; --index: 126; }
.card:nth-child(128) > .label, #item-127:hover { color: rgb(127, 254, 125); margin: 6px 1px; --index: 127; }
.card:nth-child(129) > .label, #item-128:hover { color: rgb(128, 0, 128); margin: 7px 2px; --index: 128; }
.card:nth-child(130) > .label, #item-129:hover { color: rgb(129, 2, 131); margin: 8px 3px; --index: 129; }
.card:nth-child(131) > .label, #item-130:hover { color: rgb(130, 4, 134); margin: 9px 4px; --index: 130; }
.card:nth-child(132) > .label, #item-131:hover { color: rgb(131, 6, 137); margin: 10px 5px; --index: 131; }
.card:nth-child(133) > .label, #item-132:hover { color: rgb(132, 8, 140); margin: 0px 6px; --index: 132; }
.card:nth-child(134) > .label, #item-133:hover { color: rgb(133, 10, 143); margin: 1px 0px; --index: 133; }
.card:nth-child(135) > .label, #item-134:hover { color: rgb(134, 12, 146); margin: 2px 1px; --index: 134; }
.card:nth-child(136) > .label, #item-135:hover { color: rgb(135, 14, 149); margin: 3px 2px; --index: 135; }
.card:nth-child(137) > .label, #item-136:hover { color: rgb(136, 16, 152); margin: 4px 3px; --index: 136; }
.card:nth-child(138) > .label, #item-137:hover { color: rgb(137, 18, 155); margin: 5px 4px; --index: 137; }
.card:nth-child(139) > .label, #item-138:hover { color: rgb(138, 20, 158); margin: 6px 5px; --index: 138; }
.card:nth-child(140) > .label, #item-139:hover { color: rgb(139, 22, 161); margin: 7px 6px; --index: 139; }
.card:nth-child(141) > .label, #item-140:hover { color: rgb(140, 24, 164); margin: 8px 0px; --index: 140; }
.card:nth-child(142) > .label, #item-141:hover { color: rgb(141, 26, 167); margin: 9px 1px; --index: 141; }
.card:nth-child(143) > .label, #item-142:hover { color: rgb(142, 28, 170); margin: 10px 2px; --index: 142; }
.card:nth-child(144) > .label, #item-143:hover { color: rgb(143, 30, 173); margin: 0px 3px; --index: 143; }
.card:nth-child(145) > .label, #item-144:hover { color: rgb(144, 32, 176); margin: 1px 4px; --index: 144; }
.card:nth-child(146) > .label, #item-145:hover { color: rgb(145, 34, 179); margin: 2px 5px; --index: 145; }
.card:nth-child(147) > .label, #item-146:hover { color: rgb(146, 36, 182); margin: 3px 6px; --index: 146; }
.card:nth-child(148) > .label, #item-147:hover { color: rgb(147, 38, 185); margin: 4px 0px; --index: 147; }
.card:nth-child(149) > .label, #item-148:hover { color: rgb(148, 40, 188); margin: 5px 1px; --index: 148; }
.card:nth-child(150) > .label, #item-149:hover { color: rgb(149, 42, 191); margin: 6px 2px; --index: 149; }
.card:nth-child(151) > .label, #item-150:hover { color: rgb(150, 44, 194); margin: 7px 3px; --index: 150; }
.card:nth-child(152) > .label, #item-151:hover { color: rgb(151, 46, 197); margin: 8px 4px; --index: 151; }
.card:nth-child(153) > .label, #item-152:hover { color: rgb(152, 48, 200); margin: 9px 5px; --index: 152; }
.card:nth-child(154) > .label, #item-153:hover { color: rgb(153, 50, 203); margin: 10px 6px; --index: 153; }
.card:nth-child(155) > .label, #item-154:hover { color: rgb(154, 52, 206); margin: 0px 0px; --index: 154; }
.card:nth-child(156) > .label, #item-155:hover { color: rgb(155, 54, 209); margin: 1px 1px; --index: 155; }
.card:nth-child(157) > .label, #item-156:hover { color: rgb(156, 56, 212); margin: 2px 2px; --index: 156; }
.card:nth-child(158) > .label, #item-157:hover { color: rgb(157, 58, 215); margin: 3px 3px; --index: 157; }
.card:nth-child(159) > .label, #item-158:hover { color: rgb(158, 60, 218); margin: 4px 4px; --index: 158; }
.card:nth-child(160) > .label, #item-159:hover { color: rgb(159, 62, 221); margin: 5px 5px; --index: 159; }
.card:nth-child(161) > .label, #item-160:hover { color: rgb(160, 64, 224); margin: 6px 6px; --index: 160; }
.card:nth-child(162) > .label, #item-161:hover { color: rgb(161, 66, 227); margin: 7px 0px; --index: 161; }
.card:nth-child(163) > .label, #item-162:hover { color: rgb(162, 68, 230); margin: 8px 1px; --index: 162; }
.card:nth-child(164) > .label, #item-163:hover { color: rgb(163, 70, 233); margin: 9px 2px; --index: 163; }
.card:nth-child(165) > .label, #item-164:hover { color: rgb(164, 72, 236); margin: 10px 3px; --index: 164; }
.card:nth-child(166) > .label, #item-165:hover { color: rgb(165, 74, 239); margin: 0px 4px; --index: 165; }
.card:nth-child(167) > .label, #item-166:hover { color: rgb(166, 76, 242); margin: 1px 5px; --index: 166; }
.card:nth-child(168) > .label, #item-167:hover { color: rgb(167, 78, 245); margin: 2px 6px; --index: 167; }
.card:nth-child(169) > .label, #item-168:hover { color: rgb(168, 80, 248); margin: 3px 0px; --index: 168; }
.card:nth-child(170) > .label, #item-169:hover { color: rgb(169, 82, 251); margin: 4px 1px; --index: 169; }
.card:nth-child(171) > .label, #item-170:hover { color: rgb(170, 84, 254); margin: 5px 2px; --index: 170; }
.card:nth-child(172) > .label, #item-171:hover { color: rgb(171, 86, 1); margin: 6px 3px; --index: 171; }
.card:nth-child(173) > .label, #item-172:hover { color: rgb(172, 88, 4); margin: 7px 4px; --index: 172; }
.card:nth-child(174) > .label, #item-173:hover { color: rgb(173, 90, 7); margin: 8px 5px; --index: 173; }
.card:nth-child(175) > .label, #item-174:hover { color: rgb(174, 92, 10); margin: 9px 6px; --index: 174; }
.card:nth-child(176) > .label, #item-175:hover { color: rgb(175, 94, 13); margin: 10px 0px; --index: 175; }
.card:nth-child(177) > .label, #item-176:hover { color: rgb(176, 96, 16); margin: 0px 1px; --index: 176; }
.card:nth-child(178) > .label, #item-177:hover { color: rgb(177, 98, 19); margin: 1px 2px; --index: 177; }
.card:nth-child(179) > .label, #item-178:hover { color: rgb(178, 100, 22); margin: 2px 3px; --index: 178; }
.card:nth-child(180) > .label, #item-179:hover { color: rgb(179, 102, 25); margin: 3px 4px; --index: 179; }
.card:nth-child(181) > .label, #item-180:hover { color: rgb(180, 104, 28); margin: 4px 5px; --index: 180; }
.card:nth-child(182) > .label, #item-181:hover { color: rgb(181, 106, 31); margin: 5px 6px; --index: 181; }
.card:nth-child(183) > .label, #item-182:hover { color: rgb(182, 108, 34); margin: 6px 0px; --index: 182; }
.card:nth-child(184) > .label, #item-183:hover { color: rgb(183, 110, 37); margin: 7px 1px; --index: 183; }
.card:nth-child(185) > .label, #item-184:hover { color: rgb(184, 112, 40); margin: 8px 2px; --index: 184; }
.card:nth-child(186) > .label, #item-185:hover { color: rgb(185, 114, 43); margin: 9px 3px; --index: 185; }
.card:nth-child(187) > .label, #item-186:hover { color: rgb(186, 116, 46); margin: 10px 4px; --index: 186; }
.card:nth-child(188) > .label, #item-187:hover { color: rgb(187, 118, 49); margin: 0px 5px; --index: 187; }
.card:nth-child(189) > .label, #item-188:hover { color: rgb(188, 120, 52); margin: 1px 6px; --index: 188; }
.card:nth-child(190) > .label, #item-189:hover { color: rgb(189, 122, 55); margin: 2px 0px; --index: 189; }
.card:nth-child(191) > .label, #item-190:hover { color: rgb(190, 124, 58); margin: 3px 1px; --index: 190; }
.card:nth-child(192) > .label, #item-191:hover { color: rgb(191, 126, 61); margin: 4px 2px; --index: 191; }
}
