--token-0: 0px; margin-left: 0px; color: rgb(0, 0, 0);
--token-1: 1px; margin-left: 1px; color: rgb(1, 3, 7);
--token-2: 2px; margin-left: 2px; color: rgb(2, 6, 14);
--token-3: 3px; margin-left: 3px; color: rgb(3, 9, 21);
--token-4: 4px; margin-left: 4px; color: rgb(4, 12, 28);
--token-5: 5px; margin-left: 5px; color: rgb(5, 15, 35);
--token-6: 6px; margin-left: 6px; color: rgb(6, 18, 42);
--token-7: 7px; margin-left: 7px; color: rgb(7, 21, 49);
--token-8: 8px; margin-left: 8px; color: rgb(8, 24, 56);
--token-9: 9px; margin-left: 9px; color: rgb(9, 27, 63);
--token-10: 10px; margin-left: 10px; color: rgb(10, 30, 70);
--token-11: 11px; margin-left: 11px; color: rgb(11, 33, 77);
--token-12: 12px; margin-left: 12px; color: rgb(12, 36, 84);
--token-13: 13px; margin-left: 13px; color: rgb(13, 39, 91);
--token-14: 14px; margin-left: 14px; color: rgb(14, 42, 98);
--token-15: 15px; margin-left: 15px; color: rgb(15, 45, 105);
--token-16: 16px; margin-left: 16px; color: rgb(16, 48, 112);
--token-17: 17px; margin-left: 0px; color: rgb(17, 51, 119);
--token-18: 18px; margin-left: 1px; color: rgb(18, 54, 126);
--token-19: 19px; margin-left: 2px; color: rgb(19, 57, 133);
--token-20: 20px; margin-left: 3px; color: rgb(20, 60, 140);
--token-21: 21px; margin-left: 4px; color: rgb(21, 63, 147);
--token-22: 22px; margin-left: 5px; color: rgb(22, 66, 154);
--token-23: 23px; margin-left: 6px; color: rgb(23, 69, 161);
--token-24: 24px; margin-left: 7px; color: rgb(24, 72, 168);
--token-25: 25px; margin-left: 8px; color: rgb(25, 75, 175);
--token-26: 26px; margin-left: 9px; color: rgb(26, 78, 182);
--token-27: 27px; margin-left: 10px; color: rgb(27, 81, 189);
--token-28: 28px; margin-left: 11px; color: rgb(28, 84, 196);
--token-29: 29px; margin-left: 12px; color: rgb(29, 87, 203);
--token-30: 30px; margin-left: 13px; color: rgb(30, 90, 210);
--token-31: 31px; margin-left: 14px; color: rgb(31, 93, 217);
--token-32: 32px; margin-left: 15px; color: rgb(32, 96, 224);
--token-33: 33px; margin-left: 16px; color: rgb(33, 99, 231);
--token-34: 34px; margin-left: 0px; color: rgb(34, 102, 238);
--token-35: 35px; margin-left: 1px; color: rgb(35, 105, 245);
--token-36: 36px; margin-left: 2px; color: rgb(36, 108, 252);
--token-37: 37px; margin-left: 3px; color: rgb(37, 111, 3);
--token-38: 38px; margin-left: 4px; color: rgb(38, 114, 10);
--token-39: 39px; margin-left: 5px; color: rgb(39, 117, 17);
--token-40: 40px; margin-left: 6px; color: rgb(40, 120, 24);
--token-41: 41px; margin-left: 7px; color: rgb(41, 123, 31);
--token-42: 42px; margin-left: 8px; color: rgb(42, 126, 38);
--token-43: 43px; margin-left: 9px; color: rgb(43, 129, 45);
--token-44: 44px; margin-left: 10px; color: rgb(44, 132, 52);
--token-45: 45px; margin-left: 11px; color: rgb(45, 135, 59);
--token-46: 46px; margin-left: 12px; color: rgb(46, 138, 66);
--token-47: 47px; margin-left: 13px; color: rgb(47, 141, 73);
--token-48: 48px; margin-left: 14px; color: rgb(48, 144, 80);
--token-49: 49px; margin-left: 15px; color: rgb(49, 147, 87);
--token-50: 50px; margin-left: 16px; color: rgb(50, 150, 94);
--token-51: 51px; margin-left: 0px; color: rgb(51, 153, 101);
--token-52: 52px; margin-left: 1px; color: rgb(52, 156, 108);
--token-53: 53px; margin-left: 2px; color: rgb(53, 159, 115);
--token-54: 54px; margin-left: 3px; color: rgb(54, 162, 122);
--token-55: 55px; margin-left: 4px; color: rgb(55, 165, 129);
--token-56: 56px; margin-left: 5px; color: rgb(56, 168, 136);
--token-57: 57px; margin-left: 6px; color: rgb(57, 171, 143);
--token-58: 58px; margin-left: 7px; color: rgb(58, 174, 150);
--token-59: 59px; margin-left: 8px; color: rgb(59, 177, 157);
--token-60: 60px; margin-left: 9px; color: rgb(60, 180, 164);
--token-61: 61px; margin-left: 10px; color: rgb(61, 183, 171);
--token-62: 62px; margin-left: 11px; color: rgb(62, 186, 178);
--token-63: 63px; margin-left: 12px; color: rgb(63, 189, 185);
--token-64: 64px; margin-left: 13px; color: rgb(64, 192, 192);
--token-65: 65px; margin-left: 14px; color: rgb(65, 195, 199);
--token-66: 66px; margin-left: 15px; color: rgb(66, 198, 206);
--token-67: 67px; margin-left: 16px; color: rgb(67, 201, 213);
--token-68: 68px; margin-left: 0px; color: rgb(68, 204, 220);
--token-69: 69px; margin-left: 1px; color: rgb(69, 207, 227);
--token-70: 70px; margin-left: 2px; color: rgb(70, 210, 234);
--token-71: 71px; margin-left: 3px; color: rgb(71, 213, 241);
--token-72: 72px; margin-left: 4px; color: rgb(72, 216, 248);
--token-73: 73px; margin-left: 5px; color: rgb(73, 219, 255);
--token-74: 74px; margin-left: 6px; color: rgb(74, 222, 6);
--token-75: 75px; margin-left: 7px; color: rgb(75, 225, 13);
--token-76: 76px; margin-left: 8px; color: rgb(76, 228, 20);
--token-77: 77px; margin-left: 9px; color: rgb(77, 231, 27);
--token-78: 78px; margin-left: 10px; color: rgb(78, 234, 34);
--token-79: 79px; margin-left: 11px; color: rgb(79, 237, 41);
--token-80: 80px; margin-left: 12px; color: rgb(80, 240, 48);
--token-81: 81px; margin-left: 13px; color: rgb(81, 243, 55);
--token-82: 82px; margin-left: 14px; color: rgb(82, 246, 62);
--token-83: 83px; margin-left: 15px; color: rgb(83, 249, 69);
--token-84: 84px; margin-left: 16px; color: rgb(84, 252, 76);
--token-85: 85px; margin-left: 0px; color: rgb(85, 255, 83);
--token-86: 86px; margin-left: 1px; color: rgb(86, 2, 90);
--token-87: 87px; margin-left: 2px; color: rgb(87, 5, 97);
--token-88: 88px; margin-left: 3px; color: rgb(88, 8, 104);
--token-89: 89px; margin-left: 4px; color: rgb(89, 11, 111);
--token-90: 90px; margin-left: 5px; color: rgb(90, 14, 118);
--token-91: 91px; margin-left: 6px; color: rgb(91, 17, 125);
--token-92: 92px; margin-left: 7px; color: rgb(92, 20, 132);
--token-93: 93px; margin-left: 8px; color: rgb(93, 23, 139);
--token-94: 94px; margin-left: 9px; color: rgb(94, 26, 146);
--token-95: 95px; margin-left: 10px; color: rgb(95, 29, 153);
--token-96: 96px; margin-left: 11px; color: rgb(96, 32, 160);
--token-97: 97px; margin-left: 12px; color: rgb(97, 35, 167);
--token-98: 98px; margin-left: 13px; color: rgb(98, 38, 174);
--token-99: 99px; margin-left: 14px; color: rgb(99, 41, 181);
--token-100: 100px; margin-left: 15px; color: rgb(100, 44, 188);
--token-101: 101px; margin-left: 16px; color: rgb(101, 47, 195);
--token-102: 102px; margin-left: 0px; color: rgb(102, 50, 202);
--token-103: 103px; margin-left: 1px; color: rgb(103, 53, 209);
--token-104: 104px; margin-left: 2px; color: rgb(104, 56, 216);
--token-105: 105px; margin-left: 3px; color: rgb(105, 59, 223);
--token-106: 106px; margin-left: 4px; color: rgb(106, 62, 230);
--token-107: 107px; margin-left: 5px; color: rgb(107, 65, 237);
--token-108: 108px; margin-left: 6px; color: rgb(108, 68, 244);
--token-109: 109px; margin-left: 7px; color: rgb(109, 71, 251);
--token-110: 110px; margin-left: 8px; color: rgb(110, 74, 2);
--token-111: 111px; margin-left: 9px; color: rgb(111, 77, 9);
--token-112: 112px; margin-left: 10px; color: rgb(112, 80, 16);
--token-113: 113px; margin-left: 11px; color: rgb(113, 83, 23);
--token-114: 114px; margin-left: 12px; color: rgb(114, 86, 30);
--token-115: 115px; margin-left: 13px; color: rgb(115, 89, 37);
--token-116: 116px; margin-left: 14px; color: rgb(116, 92, 44);
--token-117: 117px; margin-left: 15px; color: rgb(117, 95, 51);
--token-118: 118px; margin-left: 16px; color: rgb(118, 98, 58);
--token-119: 119px; margin-left: 0px; color: rgb(119, 101, 65);
--token-120: 120px; margin-left: 1px; color: rgb(120, 104, 72);
--token-121: 121px; margin-left: 2px; color: rgb(121, 107, 79);
--token-122: 122px; margin-left: 3px; color: rgb(122, 110, 86);
--token-123: 123px; margin-left: 4px; color: rgb(123, 113, 93);
--token-124: 124px; margin-left: 5px; color: rgb(124, 116, 100);
--token-125: 125px; margin-left: 6px; color: rgb(125, 119, 107);
--token-126: 126px; margin-left: 7px; color: rgb(126, 122, 114);
--token-127: 127px; margin-left: 8px; color: rgb(127, 125, 121);
--token-128: 128px; margin-left: 9px; color: rgb(128, 128, 128);
--token-129: 129px; margin-left: 10px; color: rgb(129, 131, 135);
--token-130: 130px; margin-left: 11px; color: rgb(130, 134, 142);
--token-131: 131px; margin-left: 12px; color: rgb(131, 137, 149);
--token-132: 132px; margin-left: 13px; color: rgb(132, 140, 156);
--token-133: 133px; margin-left: 14px; color: rgb(133, 143, 163);
--token-134: 134px; margin-left: 15px; color: rgb(134, 146, 170);
--token-135: 135px; margin-left: 16px; color: rgb(135, 149, 177);
--token-136: 136px; margin-left: 0px; color: rgb(136, 152, 184);
--token-137: 137px; margin-left: 1px; color: rgb(137, 155, 191);
--token-138: 138px; margin-left: 2px; color: rgb(138, 158, 198);
--token-139: 139px; margin-left: 3px; color: rgb(139, 161, 205);
--token-140: 140px; margin-left: 4px; color: rgb(140, 164, 212);
--token-141: 141px; margin-left: 5px; color: rgb(141, 167, 219);
--token-142: 142px; margin-left: 6px; color: rgb(142, 170, 226);
--token-143: 143px; margin-left: 7px; color: rgb(143, 173, 233);
--token-144: 144px; margin-left: 8px; color: rgb(144, 176, 240);
--token-145: 145px; margin-left: 9px; color: rgb(145, 179, 247);
--token-146: 146px; margin-left: 10px; color: rgb(146, 182, 254);
--token-147: 147px; margin-left: 11px; color: rgb(147, 185, 5);
--token-148: 148px; margin-left: 12px; color: rgb(148, 188, 12);
--token-149: 149px; margin-left: 13px; color: rgb(149, 191, 19);
--token-150: 150px; margin-left: 14px; color: rgb(150, 194, 26);
--token-151: 151px; margin-left: 15px; color: rgb(151, 197, 33);
--token-152: 152px; margin-left: 16px; color: rgb(152, 200, 40);
--token-153: 153px; margin-left: 0px; color: rgb(153, 203, 47);
--token-154: 154px; margin-left: 1px; color: rgb(154, 206, 54);
--token-155: 155px; margin-left: 2px; color: rgb(155, 209, 61);
--token-156: 156px; margin-left: 3px; color: rgb(156, 212, 68);
--token-157: 157px; margin-left: 4px; color: rgb(157, 215, 75);
--token-158: 158px; margin-left: 5px; color: rgb(158, 218, 82);
--token-159: 159px; margin-left: 6px; color: rgb(159, 221, 89);
--token-160: 160px; margin-left: 7px; color: rgb(160, 224, 96);
--token-161: 161px; margin-left: 8px; color: rgb(161, 227, 103);
--token-162: 162px; margin-left: 9px; color: rgb(162, 230, 110);
--token-163: 163px; margin-left: 10px; color: rgb(163, 233, 117);
--token-164: 164px; margin-left: 11px; color: rgb(164, 236, 124);
--token-165: 165px; margin-left: 12px; color: rgb(165, 239, 131);
--token-166: 166px; margin-left: 13px; color: rgb(166, 242, 138);
--token-167: 167px; margin-left: 14px; color: rgb(167, 245, 145);
--token-168: 168px; margin-left: 15px; color: rgb(168, 248, 152);
--token-169: 169px; margin-left: 16px; color: rgb(169, 251, 159);
--token-170: 170px; margin-left: 0px; color: rgb(170, 254, 166);
--token-171: 171px; margin-left: 1px; color: rgb(171, 1, 173);
--token-172: 172px; margin-left: 2px; color: rgb(172, 4, 180);
--token-173: 173px; margin-left: 3px; color: rgb(173, 7, 187);
--token-174: 174px; margin-left: 4px; color: rgb(174, 10, 194);
--token-175: 175px; margin-left: 5px; color: rgb(175, 13, 201);
--token-176: 176px; margin-left: 6px; color: rgb(176, 16, 208);
--token-177: 177px; margin-left: 7px; color: rgb(177, 19, 215);
--token-178: 178px; margin-left: 8px; color: rgb(178, 22, 222);
--token-179: 179px; margin-left: 9px; color: rgb(179, 25, 229);
--token-180: 180px; margin-left: 10px; color: rgb(180, 28, 236);
--token-181: 181px; margin-left: 11px; color: rgb(181, 31, 243);
--token-182: 182px; margin-left: 12px; color: rgb(182, 34, 250);
--token-183: 183px; margin-left: 13px; color: rgb(183, 37, 1);
--token-184: 184px; margin-left: 14px; color: rgb(184, 40, 8);
--token-185: 185px; margin-left: 15px; color: rgb(185, 43, 15);
--token-186: 186px; margin-left: 16px; color: rgb(186, 46, 22);
--token-187: 187px; margin-left: 0px; color: rgb(187, 49, 29);
--token-188: 188px; margin-left: 1px; color: rgb(188, 52, 36);
--token-189: 189px; margin-left: 2px; color: rgb(189, 55, 43);
--token-190: 190px; margin-left: 3px; color: rgb(190, 58, 50);
--token-191: 191px; margin-left: 4px; color: rgb(191, 61, 57);
--token-192: 192px; margin-left: 5px; color: rgb(192, 64, 64);
--token-193: 193px; margin-left: 6px; color: rgb(193, 67, 71);
--token-194: 194px; margin-left: 7px; color: rgb(194, 70, 78);
--token-195: 195px; margin-left: 8px; color: rgb(195, 73, 85);
--token-196: 196px; margin-left: 9px; color: rgb(196, 76, 92);
--token-197: 197px; margin-left: 10px; color: rgb(197, 79, 99);
--token-198: 198px; margin-left: 11px; color: rgb(198, 82, 106);
--token-199: 199px; margin-left: 12px; color: rgb(199, 85, 113);
--token-200: 200px; margin-left: 13px; color: rgb(200, 88, 120);
--token-201: 201px; margin-left: 14px; color: rgb(201, 91, 127);
--token-202: 202px; margin-left: 15px; color: rgb(202, 94, 134);
--token-203: 203px; margin-left: 16px; color: rgb(203, 97, 141);
--token-204: 204px; margin-left: 0px; color: rgb(204, 100, 148);
--token-205: 205px; margin-left: 1px; color: rgb(205, 103, 155);
--token-206: 206px; margin-left: 2px; color: rgb(206, 106, 162);
--token-207: 207px; margin-left: 3px; color: rgb(207, 109, 169);
--token-208: 208px; margin-left: 4px; color: rgb(208, 112, 176);
--token-209: 209px; margin-left: 5px; color: rgb(209, 115, 183);
--token-210: 210px; margin-left: 6px; color: rgb(210, 118, 190);
--token-211: 211px; margin-left: 7px; color: rgb(211, 121, 197);
--token-212: 212px; margin-left: 8px; color: rgb(212, 124, 204);
--token-213: 213px; margin-left: 9px; color: rgb(213, 127, 211);
--token-214: 214px; margin-left: 10px; color: rgb(214, 130, 218);
--token-215: 215px; margin-left: 11px; color: rgb(215, 133, 225);
--token-216: 216px; margin-left: 12px; color: rgb(216, 136, 232);
--token-217: 217px; margin-left: 13px; color: rgb(217, 139, 239);
--token-218: 218px; margin-left: 14px; color: rgb(218, 142, 246);
--token-219: 219px; margin-left: 15px; color: rgb(219, 145, 253);
--token-220: 220px; margin-left: 16px; color: rgb(220, 148, 4);
--token-221: 221px; margin-left: 0px; color: rgb(221, 151, 11);
--token-222: 222px; margin-left: 1px; color: rgb(222, 154, 18);
--token-223: 223px; margin-left: 2px; color: rgb(223, 157, 25);
--token-224: 224px; margin-left: 3px; color: rgb(224, 160, 32);
--token-225: 225px; margin-left: 4px; color: rgb(225, 163, 39);
--token-226: 226px; margin-left: 5px; color: rgb(226, 166, 46);
--token-227: 227px; margin-left: 6px; color: rgb(227, 169, 53);
--token-228: 228px; margin-left: 7px; color: rgb(228, 172, 60);
--token-229: 229px; margin-left: 8px; color: rgb(229, 175, 67);
--token-230: 230px; margin-left: 9px; color: rgb(230, 178, 74);
--token-231: 231px; margin-left: 10px; color: rgb(231, 181, 81);
--token-232: 232px; margin-left: 11px; color: rgb(232, 184, 88);
--token-233: 233px; margin-left: 12px; color: rgb(233, 187, 95);
--token-234: 234px; margin-left: 13px; color: rgb(234, 190, 102);
--token-235: 235px; margin-left: 14px; color: rgb(235, 193, 109);
--token-236: 236px; margin-left: 15px; color: rgb(236, 196, 116);
--token-237: 237px; margin-left: 16px; color: rgb(237, 199, 123);
--token-238: 238px; margin-left: 0px; color: rgb(238, 202, 130);
--token-239: 239px; margin-left: 1px; color: rgb(239, 205, 137);
--token-240: 240px; margin-left: 2px; color: rgb(240, 208, 144);
--token-241: 241px; margin-left: 3px; color: rgb(241, 211, 151);
--token-242: 242px; margin-left: 4px; color: rgb(242, 214, 158);
--token-243: 243px; margin-left: 5px; color: rgb(243, 217, 165);
--token-244: 244px; margin-left: 6px; color: rgb(244, 220, 172);
--token-245: 245px; margin-left: 7px; color: rgb(245, 223, 179);
--token-246: 246px; margin-left: 8px; color: rgb(246, 226, 186);
--token-247: 247px; margin-left: 9px; color: rgb(247, 229, 193);
--token-248: 248px; margin-left: 10px; color: rgb(248, 232, 200);
--token-249: 249px; margin-left: 11px; color: rgb(249, 235, 207);
--token-250: 250px; margin-left: 12px; color: rgb(250, 238, 214);
--token-251: 251px; margin-left: 13px; color: rgb(251, 241, 221);
--token-252: 252px; margin-left: 14px; color: rgb(252, 244, 228);
--token-253: 253px; margin-left: 15px; color: rgb(253, 247, 235);
--token-254: 254px; margin-left: 16px; color: rgb(254, 250, 242);
--token-255: 255px; margin-left: 0px; color: rgb(255, 253, 249);
